.DisplayEmployee {
    max-width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid var(--van-gray-8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .DisplayEmployee img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .DisplayEmployee ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .DisplayEmployee li {
    margin-bottom: 10px;
    color: var(--van-gray-8);
  }
  
  .DisplayEmployee li:first-child {
    font-weight: bold;
  }
  
  .DisplayEmployee li span {
    font-weight: normal;
  }
  